@use "./burgerButtonVars" as burger;

.BurgerButton {
  //Colors, Fonts
  background-color: inherit;
  color: inherit;
  border: none;

  //Display
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  //Diamensions
  width: 100%;
  //Position
  //Margin, Padding
  margin: 0;
  padding-bottom: 2px;
  padding-top: 2px;
}

.BurgerButton:hover {
  background-color: burger.$bg-hover;
}

.ButtonRemoved {
  display: none;
}

@media only screen and (min-width: 600px) {
  .app0-topnav0-bbutton {
    //Colors, Fonts, Borders

    //Display
    display: none;
    //Diamensions
    //Position
    //Margin, Padding
  }
}
