@use "./DropDownMenuVars";

.topnav0-drop0-menu {
  display: flex;
  background-color: rgb(49, 91, 105);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
