@use "./NavLinkVars";

.NavLink {
  display: inline-block;
  width: 100%;
}

.topnav0 a {
  width: 100%;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
