@use "./NavLinkVars" as link;

.NavLink {
  //Colors, Fonts, Borders
  background-color: inherit;
  color: inherit;
  text-decoration: inherit;
  //Display
  display: inline-block;
  text-align: center;
  //Diamensions
  width: 100%;
  //Position
  //Margin, Padding
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.NavLink:hover {
  background-color: link.$bgc-hover;
}
